@media  only screen and (max-width: 425px ) {

  .container {
    max-width: 90%;
    overflow-x: hidden;
  }


  .btn-demo, .btn-demo-white  {
  width: 100%;
  }

  nav #btn-hero {
    filter: none;
  }

  .header {
    width: 100vw;
    background: white;
    border-bottom-right-radius: 15rem;
    margin-bottom: 10rem;
  }

  nav {
    margin-bottom: 5rem;
  }

  nav ul {
    display: none;
  }

  .cta-hero a {
    display: block;
    text-align: center;
    margin-top: 5rem;
  }

  .row-one-dif  {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .column-one {
    margin-bottom: 8rem;
  }

  .row-two-dif {
    padding: 0 1rem;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    margin-bottom: 10rem;
  }

.row-two-dif::-webkit-scrollbar { 
    display: none;  
}

.bg-white .img-content {
  max-height: 25rem;
  max-width: 90%;
}

.bg-white h2 {
  padding-top: 8rem;
  margin-bottom: 6rem;
}

.img-left, .img-right {
  position: unset;
}

.img-right, .img-left {
  flex-direction: column;
  margin-bottom: 5rem;
}

.img-left .img-content , .img-right .img-content{
  margin: 0;
}


.content-features {
  display: none;
}

.content-features.mobile {
  display: block;
}

.description-features {
  text-align: center;
  margin-bottom: 5rem;
}

.more-features-grid {
  display: block;
  max-width: 100%;
  padding: 0 3rem;
  margin-bottom: 8rem;
}

.more-features-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.more-features-content p {
  font-size: 1.6rem;
}

.cta-features {
  padding: 8rem 3rem;
}

.cta-features h3 {
  margin: 0;
  text-align: center;
  margin-bottom: 8rem;
}

.plans {
  border-radius: 15rem 0 0 0;
  padding: 12rem 0;
}

.plans h2 {
  margin-bottom: 8rem;
}

.plans-single {
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
  width: 120rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 7.4rem;
}

.plan-two {
  margin: 0;
}

.faq-content.container {
  padding: 5rem 1rem;
}

.question {
  font-size: 1.4rem;
}

.footer-content {
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 5rem 0 10rem 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

.footer-content img {
  margin: 0 auto;
}

/* menu mobile */
nav ul {
  display: none;
}

.one,
.two,
.three {
  background: var(--gray01);
  height: .5rem;
  width: 100%;
  margin: 6px auto;
  border-radius: 3px;
  transition-duration: 300ms;
}

.menu-toggle {
  position: absolute;
  top: 5%;
  right: 0;
  width: 3rem;
  height: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

/* fullscreen */

.menu-section.on {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray01);
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.menu-section.on nav {
  display: block;
  max-width: 100%;
}

.menu-section.on nav a {
  color: white;
}

.menu-section.on nav img {
  display: none;
}

.menu-section.on .menu-toggle {
  position: absolute;
  right: 0;
  top: 15;
}

.menu-section.on .menu-toggle .one {
  transform: rotate(45deg) translate(7px, 7px);
  background-color: white;
}

.menu-section.on .menu-toggle .two {
  opacity: 0;
}

.menu-section.on .menu-toggle .three {
  transform: rotate(-45deg) translate(9px, -9px);
  background-color: white;
}

.menu-section.on nav ul {
  margin: 4rem auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-section.on nav ul a {
  transition-duration: 0.5s;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  line-height: 5rem;
  font-weight: bold;
  padding: 12px 0;
  color: white;
}

.main .gallery-box .img-thumbnails {
  height: 5vh;
}

}